*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

header{
    background-image: url(img/star\ uó\ topo@2x.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    display: flex;
}

.title-header-star{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 130%;
    position: relative;
    left: 25%;
}

.title-header-wars{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 130%;
    position: relative;
    right: 10%;
}

.title{
    height: 15%;
    width: 120%;
}

.person-title{
    background-image: url(img/Kylo-Ren-banner\ sem\ fundo@2x.png);
    background-size: 105%;
    background-repeat: no-repeat;
    width: 450%;
    height: 113%;
    display: flex;
    position: relative;
    right: 4%;
    top: 7%;
    z-index: 1;
}

.kylo{
    display: flex;
    width: 950px;
    height: 800px;
    position: relative;
    right: 3%;
}

.text-header{
    display: flex;
    align-items: flex-end;
    width: 30%;
    position: relative;
    right: 15%;
    bottom: 10%;
}

.text-header-p{
    color: #000000;
}

.text-header-p:hover{
    text-transform: uppercase;
    font-weight: bold;
}

.line{
    display: flex;
    background-color: #000000;
    height: 1px;
    width: 40%;
    position: relative;
    top: 92%;
    right: 20%;
}

main{
    background-image: url(img/sta\ uo\ robot.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1100px;
    width: 45%;
}

.main-download{
    display: flex;
    background-image: url(img/strom\ trupe\ red.png);
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    width: 40%;
    height: 32%;
    color: #ffffff;
    align-items: center;
    justify-content: space-around;
    position: relative;
    left: 40%;
    bottom: 5%;
    z-index: 1;
}

.title-main{
    display: flex;
    margin-top: 8%;
    margin-left: 20%;
    margin-right: 20%;
}

.paragraph-main{
    display: flex;
    margin-top: 8%;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 14px;
    font-weight: 100;
    width: 80%;
}

.download-button-main{
    background-color: Transparent;
    background-repeat: no-repeat;
    border: 1px solid #ffffff;
    cursor: pointer;
    outline: none;
    padding: 4%;
    color: #ffffff;
    font-size: 10px;
    width: 45%;
    margin-bottom: 15%;
}