*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

header{
    background-image: url(img/star\ uó\ topo@2x.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    display: flex;
}

.title-header-star{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 130%;
    position: relative;
    left: 25%;
}

.title-header-wars{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 130%;
    position: relative;
    right: 10%;
}

.title{
    height: 15%;
    width: 120%;
}

.person-title{
    background-image: url(img/Kylo-Ren-banner\ sem\ fundo@2x.png);
    background-size: 105%;
    background-repeat: no-repeat;
    width: 450%;
    height: 113%;
    display: flex;
    position: relative;
    right: 4%;
    top: 7%;
    z-index: 1;
}

.kylo{
    display: flex;
    width: 950px;
    height: 800px;
    position: relative;
    right: 3%;
}

.text-header{
    display: flex;
    align-items: flex-end;
    width: 30%;
    position: relative;
    right: 15%;
    bottom: 10%;
}

.text-header-p{
    color: #000000;
}

.text-header-p:hover{
    text-transform: uppercase;
    font-weight: bold;
}

.line{
    display: flex;
    background-color: #000000;
    height: 1px;
    width: 40%;
    position: relative;
    top: 92%;
    right: 20%;
}

.main-background{
    background-image: url(img/sta\ uo\ robot.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
    width: 45%;
}

.main-download{
    display: flex;
    background-image: url(img/strom\ trupe\ red.png);
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    width: 40%;
    height: 32%;
    color: #ffffff;
    align-items: center;
    justify-content: space-around;
    position: relative;
    left: 40%;
    bottom: 5%;
    z-index: 1;
}

.title-main{
    display: flex;
    margin-top: 8%;
    margin-left: 20%;
    margin-right: 20%;
}

.paragraph-main{
    display: flex;
    margin-top: 8%;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 14px;
    font-weight: 100;
    width: 80%;
}

.download-button-main{
    background-color: Transparent;
    background-repeat: no-repeat;
    border: 1px solid #ffffff;
    cursor: pointer;
    outline: none;
    padding: 4%;
    color: #ffffff;
    font-size: 10px;
    width: 45%;
    margin-bottom: 15%;
}

.box-about{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 45%;
    position: relative;
    left: 105%;
    bottom: 21%;
}

.img-about{
    display: flex;
    position: relative;
    width: 66%;
    left: 155%;
    bottom: 37%;
    height: 16%;
}

.line-about{
    display: flex;
    background-color: #000000;
    height: 2px;
    width: 40%;
    position: relative;
}

.title-about{
    margin-bottom: 5%;
    font-size: 16px;
    text-transform: uppercase;
}

.paragraph-about{
    margin-top: 5%;
    font-size: 14px;
    text-align: end;
}

.line-separate{
    display: flex;
    background-color: #000000;
    height: 3px;
    width: 164%;
    position: relative;
    left: 40%;
    bottom: 30%;
}

.lord-sifh{   
    background-image: url(img/lord\ sifh\ 2.png);
    background-size: 105%;
    background-repeat: no-repeat;
    width: 100%;
    height: 63%;
    display: flex;
    position: relative;
    bottom: 23%;
    left: 37%;
}

.rey{
    background-image: url(img/rey\ star\ wars.png);
    background-size: 105%;
    background-repeat: no-repeat;
    width: 44%;
    height: 53%;
    display: flex;
    position: relative;
    bottom: 126%;
    left: 165%;
}

.list-game{
    display: flex;
    flex-direction: column;
    text-align: end;
    list-style: none;
    position: relative;
    bottom: 82%;
    left: 55%;
}

.title-list{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 4%;
    width: 36%;
    position: relative;
    left: 65%;
}

.title-list:hover {
    font-weight: bolder;
}

li{
    margin-bottom: 8%;
    list-style: none;
}

li:hover{
    color: #ffffff;
    background-color: orangered;
    width: 50%;
    position: relative;
    left: 50%;
}

section{
    background-color: #2d2d2d;
    height: 100%;
    width: 100%;
}

.atributes{
    color: #ffffff;
    display: flex;
    width: 25%;
    height: 140px;
    justify-content: flex-end;
    align-items: flex-end;
}

.container-box{
    display: flex;
    margin-top: 4%;
    margin-left: 4%;
    margin-right: 4%;
    flex-wrap: wrap;
}

.bigger-img{
    display: flex;
    width: 580px;
    height: 400px;
}

.container-box-together{
    display: flex;
    width: 53%;
    flex-wrap: wrap;
}

.images-together{
    display: flex;
    width: 327px;
}

.transparent{
    display: flex;
    background-color: #D74430;
    opacity: 0.75;
    width: 345px;
    height: 215px;
    position: relative;
    z-index: 1;
    bottom: 67%;
    right: 1%;
    flex-direction: column
}

.title-transparent{
    width: 50%;
    color: #ffffff;
    text-align: center;
    margin-top: 5%;
}

.paragraph-transparent{
    width: 100%;
    color: #ffffff;
    text-align: center;
    margin-top: 5%;
}

.button-transparent{
    background-color: Transparent;
    background-repeat: no-repeat;
    border: 3px solid #ffffff;
    cursor: pointer;
    outline: none;
    padding: 4%;
    color: #ffffff;
    font-size: 14px;
    width: 45%;
    margin-left: 5%;
    margin-top: 9%;
}

.rank{
    width: 100%;
    position: relative;
    bottom: 20%;
}

.paragraph-rank{
    display: flex;
    position: relative;
    bottom: 20%;
    left: 50%;
    width: 50%;
    text-align: end;
    color: #ffffff;
}